@font-face {
    font-family: "fuente basckerville";
    src: url("/MiCV/fonts/LibreBaskerville-Bold.ttf");
}

body{
    width: 100%;
    height:auto;
}

li{
    padding: 10px;
}

.espacio-superior{
    margin-top: 2%;
}

.fondo1{
    background-image: url("/MiCV/img/fondofi3.png");
    height: 100vh;
}

.fondo2{
    background-image: url("/MiCV/img/fondoAulas.png");
    height: 100vh;
}

span, h1, h2, h3, h4, h5, h6,p{
    font-family: "fuente basckerville";
}

span{
font-size: x-large;  
}

.circular-progress{
    position: relative;
    height: 8vh;
    width: 8w;
    border-radius: 50%;
    background: conic-gradient(rgba(25, 141, 161, 0.973) 3.6deg, rgb(21, 129, 133) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 6vh;
    width: 6vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.progress-value{
    position: relative;
    font-size: 15px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}
.habilidades{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.progress_container{
    max-width: 1140px;
    width: calc(100%-2rem);
    padding: 0 1rem;
    margin: 0 auto;
}
.progress{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.progress_item{
    padding: 0.5rem;
}
.progress_tittle{
    padding: 1rem 0;
}
.progress_bar{
    position: relative;
    width: 30rem;
    height: 8px;
    border-radius: 2rem;
    background: rgb(255, 0, 0);
}

.bar{
    border-radius: inherit;
    background: linear-gradient(90deg, red, red, red);

    transition: width 1.5s cubic-bezier(0.1,0.42,085,1);
    width: 0;
    height: 100%;
    left: 0;
}
.bar::after{
    content: attr(data-text);
    position: absolute;
    right: 0;
    top: -3rem;
    width: 4rem;
    height: 2rem;
    background: red;
    text-align: center;
    border-radius: 0.1rem;
    animation: text 0.6s ease-in-out;
    font-weight: bold;
}

.bar::before{
    counter-reset: "";
    position: absolute;
    right: 1rem;
    top: -1.2rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    border-bottom: 10px solid transparent;
}
@keyframes text {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
